<!DOCTYPE html>
<html lang="en" ng-app="pizza-mogul">
<head>
    <title>Pizza Mogul</title>
    <script src="../../../bower_components/angular/angular.js"></script>
    <script>
        var app = angular.module("pizza-mogul", []);
        app.run(function ($rootScope) {
            $rootScope.pizza = {'thin': 1, 'bbq': 1, 'capsicum': 1};
            $rootScope.range = function (length) {
                var range = new Array(length);

                for (var i = 0; i < length; i++) {
                    range[i] = i;
                }
                return  range;
            };
            $rootScope.ingredients = {
                crusts: {
                    maximum: 1,
                    options: [
                        { name: "thin" },
                        { name: "cheesy" }
                    ]
                },
                toppings: {
                    maximum: 3,
                    options: [
                        { name: "capsicum" },
                        { name: "pineapple" },
                        { name: "ham" },
                        { name: "tomato" }
                    ]
                },
                baseSauces: {
                    maximum: 1,
                    options: [
                        { name: "tomato" },
                        { name: "bbq" }
                    ]
                }
            };
        });
    </script>
</head>
<body>
Say hello to:
<input type="text" ng-model="someone"/>

<h1>Hello {{ someone }}...</h1>

<form name="pizza_form">
    <div class="ingredients">
        <div class="crusts">
            <h3>Crust</h3>
            <ul>
                <li ng-repeat='crust in ingredients.crusts.options'>
                    {{ crust.name }}
                    <input type="number" ng-model="pizza[crust.name]"
                           max="{{ ingredients.crusts.maximum }}"/>
                </li>
            </ul>
        </div>
        <div class="toppings">
            <h3>Toppings</h3>
            <ul>
                <li ng-repeat='topping in ingredients.toppings.options'>
                    {{ topping.name }}
                    <input type="number" ng-model="pizza[topping.name]"
                           max="{{ ingredients.toppings.maximum }}"/>
                </li>
            </ul>
        </div>
        <div class="base-sauces">
            <h3>Base Sauces</h3>
            <ul>
                <li ng-repeat='baseSauce in ingredients.baseSauces.options'>
                    {{baseSauce.name}}
                    <input type="number" ng-model="pizza[baseSauce.name]"
                           max="{{ ingredients.baseSauces.maximum }}"/>
                </li>
            </ul>
        </div>
    </div>
</form>

<div class="mogul-pizza">
    <p>Selected Ingredients:</p>
    <ul>
        <li ng-repeat="(name,servings) in pizza" ng-hide="!servings">
            {{name}} : {{servings}}
        </li>
    </ul>
</div>
</body>
</html>